.hero-container {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0px 200px;
}

.hero-container::after,
.hero-container::before {
  content: "";
  position: absolute;
  width: 28rem;
  height: 22rem;
  border-radius: 28.125rem;
  background: var(--accent-color);
  z-index: -1;
  filter: blur(225px);
}

.hero-container::after {
  top: -3rem;
  left: -5rem;
}

.hero-container::before {
  bottom: 2rem;
  right: 0rem;
}

.hero-content {
  flex: 1;
}

.hero-content h1 {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 3rem;
  color: var(--text-color);
}

.hero-content h2 {
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 5rem;
  color: var(--text-color);
  margin: 0;
}

.hero-content p {
  width: 70%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--text-color);
}

.hero-img {
  flex: 1.5;
  height: 700px;
}

.hero-img > div {
  display: flex;
  align-items: flex-end;
}

.tech-icon {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  border-radius: 0.65rem;
  background-color: var(--bg-color);
  box-shadow: var(--neumorphism-shadow-light), var(--neumorphism-shadow-dark);
  transition: all 0.3s ease;
}

.hero-stack h5 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--text-color);
}

.tech-icon p {
  font-size: 0.85rem;
  color: var(--text-color);
}

.tech-icon img {
  width: 3rem;
  height: auto;
  transition: all 0.3s ease;
  margin-top: 10px;
}

.hero-img > div > img:hover,
.tech-icon:hover {
  transform: translateY(-0.5rem);
  box-shadow: var(--neumorphism-shadow-light),
    var(--neumorphism-shadow-dark, inset 0 0 10px rgba(0, 0, 0, 0.1));
}

.hero-stack {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 5rem;
  position: relative;
  margin: 0px 200px;
}

.stack-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4rem;
}

.download-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: var(--text-color);
  background-color: var(--neumorphism-background);
  border: none;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: var(--neumorphism-shadow);
  transition: all 0.3s ease;
}

.download-button:hover {
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1), inset -5px -5px 10px rgba(255, 255, 255, 0.2);
}

.typewriter-container {
  width: 500px;;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 500px) {
  .hero-all {
    width: 400px;
    padding: 0;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
  }

  .hero-container h2 {
    margin: 0;
    font-size: 1.9rem;
  }

  .hero-container p {
    text-align: justify;
    width: 360px;
  }

  .hero-img {
    display: none;
  }

  .hero-stack {
    width: 400px;
    margin: 0 20px;
  }
  .stack-icons {
    margin: 0px auto;
  }
  .tech-icon {
    width: 70px;
    height: 80px;
  }
  .tech-icon img{
    width: 40px;
    height: 40px;
  }
  .download-button {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
  }

  .typewriter-container {
    width: 360px;
    height: 160px;
    display: inline-block;
    white-space: wrap;
    text-overflow: ellipsis;
  }
}
