.skills-container{
    margin: 100px 200px 100px 250px;
    position: relative;
}

.skills-container::after,
.skills-container::before{
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background: #7c66e3;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.skills-container::after{
    top:-3rem;
    left:-5rem;
}

.skills-container::before{
    background:#9e51b9;
    bottom: 0rem;
    right: 0rem;
}

.skills-container h5{
    margin-bottom: 3.5rem;
}

.skills-content{
    display: flex;
    align-items: space-between;
    justify-content: center;
    width: 100%;
    gap:4rem;
}

.skills{
    flex: 1;
    display: grid;
    grid-gap: 5rem;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.skills-info{
    flex:1;
}

@media(max-width:500px){
    .skills-container{
        width: 400px;
        margin: 0;
    }
    .skills-content{
        display: flex;
        flex-direction: column;
        width: 360px;
        margin: 10px;
        padding: 10px;

    }
    .skills-container h5{
        margin: 80px 0px 30px 20px;
    }
}