
.Contact{
    margin: 100px 200px;
}

.Contact .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.Contact .left, 
.Contact .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.25); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px; 
    padding: 35px; 
    margin: 10px; 
    position: relative; 
    z-index: 1; 
}

.contact-title h1{
    font-size: 40px;
    margin-left: 50px;
}

.Contact .left{
    width: 500px;
    height: 450px;
    padding: 10px;
}

.Contact .right{
    width: 750px;
    height: 450px;
}

.form{

}
.Contact .box {
    padding: 30px;
    border-radius: 10px;
}

.Contact .details h1 {
    font-size: 25px;
    color: #fff; 
}

.Contact .details h2 {
    font-size: 15px;
    color: #fff; 
}

.Contact .details p {
    font-size: 12px;
    color: #ddd; 
}

.right .input{
    display: flex;
    flex-direction: column;
}


.btn-send{
    margin-right: 20px;
    padding: 18px 25px;
    border-radius: 6px;
    color: #000;
    cursor: pointer;
    transition: 0.5s all ease;
    border: none;
    color: white;
    background: linear-gradient(90deg, #3d3072 0%, #423477 100%);
}

.btn-send:hover {
    background: #ff014f;
    color: white;
    transform: translateY(-3px);
}

.Contact input{
    background-color: rgba(255, 255, 255, 0.8); 
    color: #000; 
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin-top: 5px;
    margin-bottom: 20px;
    height: 35px;
}

.Contact textarea 
{
    background-color: rgba(255, 255, 255, 0.8); /* Fond légèrement plus opaque pour les inputs */
    color: #000; /* Texte noir pour une meilleure lisibilité */
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.4);
    margin-top: 10px;
    margin-bottom: 20px;
}

.phone,
.email .email-content,
.linkedin,
.github {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-icon, .phone-icon, .linkedin-icon, .github-icon{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 10px;
}

.email a,
.linkedin a,
.github a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

@media (max-width: 768px) {
    .Contact .left, 
    .Contact .right {
        width: 100%; 
        margin-top: 20px;
    }

    .Contact{
        margin: 50px auto;
        width: 650px;
    }
}
