.work-experience-card{
    background: var(--experience-card-bg);
    border-radius: 0.65rem;
    padding: 1.5rem;
    margin: 0 1rem; 
    box-shadow: var(--neumorphism-shadow);
}
.image-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8); /* Fond sombre avec opacité */
    display: flex;
    align-items: center; /* Centrage vertical */
    justify-content: center; /* Centrage horizontal */
    z-index: 1050; /* Assurez-vous que l'overlay est au-dessus des autres éléments */
}

.enlarged-image {
    max-width: 80%; /* Ajustez selon vos besoins pour le site */
    max-height: 80%; /* Empêche l'image de dépasser de l'écran */
    box-shadow: 0 0 10px #fff; /* Optionnel: ajoute une ombre pour mieux distinguer l'image */
}


.work-experience-card:hover{
    background: var(--experience-card-bg-hover);
}

.work-experience-card h6{
    font-size: 1.05rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
    color: var(--text-color);
}

.work-duration{
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    background: rgba(103,81,185,0.5);
    border-radius: 0.3rem;
    padding: 0.4rem 0.6rem;
    margin-bottom: 1.3rem;
    color: var(--text-color);
}

.work-experience-card ul li{
    list-style: none;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    position: relative;
    color: var(--text-color);
}

.work-experience-card ul li::after{
    content: " ";
    width: 0.5rem;
    height: 0.5rem;
    background-color: #6751b9;
    border-radius: 0.5rem;
    position: absolute;
    left: -1.3rem;
    top: 0.35rem;
}

.work-technologies{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

.work-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.work-header img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.work-header img:hover{
    transform: scale(1.05);
    background: #6653f4;
    border-radius: 50%;
    padding: 0.2rem;
}
@media(max-width:768px){
    .work-experience-card{
        margin: 0;
    }
    .work-experience-card h6{
        font-size: 0.95rem;
    }
    .work-experience-card ul li {
        font-size: 0.75rem;
    }
}